.chatFriendsList {
    -fx-alignment: right;
}

.topBar, .bottomChatBarBG {
    -fx-background-color: #404040;
}

.bottomChatBarTf {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-border-color: transparent;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 8 12;
    -fx-font-size: 14;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.0, 0.0, 2.0);
}

.bottomChatBarBtn {
    -fx-background-color: #352de1;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.bottomChatBarBtn:hover {
    -fx-background-color: #3f65e6;
    -fx-text-fill: white;
}


.moreInfoChatBtn {
    -fx-background-color: transparent;
}

.moreInfoChatBtn:hover {
    -fx-background-color: #6d6d6d;
}

.topChatBarText {
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.sentMessage, .receivedMessage {
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-font-size: 20;
}

.sentMessage {
    -fx-background-color: #a638ca;
}

.receivedMessage {
    -fx-background-color: #404040
}

.listCellBG, .listCellBG .list-cell {
    -fx-background-color: transparent;
}