.leftBarBG {
    -fx-spacing: 15px;
    -fx-padding: 20 5 0 5;
    -fx-background-color: #252525;
    -fx-alignment: top-center;
}

.leftBarBtn {
    -fx-font-size: 15;
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #dbdbdb;
    -fx-background-radius: 15;
}

.leftBarBtn:hover {
    -fx-background-color: #6d6d6d;
    -fx-text-fill: #fdfdfd;
}