.gridPane {
    -fx-padding: 20;
    -fx-hgap: 5;
    -fx-vgap: 3;
    -fx-alignment: center;
}

.backGround {
    -fx-background-color: #49087d;
    -fx-vgap: 10;
    -fx-hgap: 15;
    -fx-alignment: center;
}

.button, .textFields {
    -fx-background-color: #747474;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-border-radius: 50;
    -fx-font-size: 15;
}

.button {
    -fx-background-color: #6868ff;
}

.labels {
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.loginBadElement {
    -fx-border-color: red;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}