.topBarBG {
    -fx-background-color: #494949;
}

.topBarBtn {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #dbdbdb;
}

.topBarBtn:hover {
    -fx-background-color: #6d6d6d;
    -fx-text-fill: #fdfdfd;
}