.noteInfoDialogGp {
    -fx-background-color: #606060;
    -fx-hgap: 8;
    -fx-vgap: 8;
}

.noteInfoDialogTf {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-color: #404040;
    -fx-border-color: transparent;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.0, 0.0, 2.0);
}

.noteInfoDialogLbl {
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.noteInfoDialogBtn {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.noteInfoDialogBtn:hover {
    -fx-background-color: #505050;
}

.noteInfoDialogTextArea {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-color: #404040;
    -fx-background: #404040;
    -fx-control-inner-background: #404040;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 15;
    -fx-padding: 10;
}

.noteInfoDialogTextArea:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: #404040;
    -fx-control-inner-background: #404040;
}

.notesDialogComboBox {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-color: #404040;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 2px;
}

.notesDialogComboBox .list-cell,
.notesDialogComboBox .list-cell:selected,
.notesDialogComboBox .list-cell:hover {
    -fx-text-fill: white;
}

.notesDialogComboBox .arrow-button:hover {
    -fx-background-color: #606060;
}

.notesDialogComboBox .list-cell {
    -fx-background-color: #404040;
}

.notesDialogComboBox .arrow-button,
.notesDialogComboBox .list-cell:selected,
.notesDialogComboBox .list-cell:hover {
    -fx-background-color: #505050;
}

.notesDialogComboBox:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}